root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Nunito Sans", sans-serif;
  /* background-color: aqua; */
}
.navbar {
  background-color: aqua;
}

.container1 {
  display: flex;
}
.container-nav {
  display: flex;
  gap: 0.2rem;
  margin: 1rem;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.sidemenu {
  height: 90vh;
  width: 10%;
  display: flex;
  justify-content: center;
  background-color: lightgreen;
}

.boardList {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
}
.card1 {
  height: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 8rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
.card1:hover {
  cursor: pointer;
}

.create-board {
  display: flex;
  gap: 0.5rem;
}
.board-text-field {
  width: 10rem;
}
.link-to-board {
  text-decoration: none;
  color: black;
}
.board-container {
  display: flex;

  width: 100%;
}
.board-page {
  /* border: 10px solid red; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 3rem;
  position: relative;
}
.list-itrate {
  /* border: 2px solid black; */
  display: flex;
  gap: 0.8rem;
}
.board-list-div {
  /* border: 2px solid blue; */
  min-height: 5rem;
  min-width: 8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.add-another-list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 0.5rem;
  width: fit-content;
}
.list-input {
  /* border: 2px solid red; */
  width: 8rem;
}
.list-text {
  /* border: 2px solid red; */
  display: flex;
  gap: 0.2rem;
}
.add-list-button {
  text-decoration: none;
  border: none;
}
.list-card-button {
  border: none;
  background-color: transparent;
}
.list-three-dot-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.Edit-card-name:hover {
  color: red;
  cursor: pointer;
}
.card-name:hover {
  color: red;
}
.three-dot:hover {
  cursor: pointer;
  color: green;
}
.board-list {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 10rem;
}
.list-card {
  /* border: 2px solid red; */
  display: flex;
  gap: 1.5rem;
  padding-left: 0.5rem;
  flex-wrap: wrap;
}
.list-card-div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-input {
  width: 50%;
}
.add-cart-text {
  max-width: 8rem;
}
.delete-card:hover,
.add-card:hover {
  color: red;
  cursor: pointer;
}
.list-name {
  width: 8rem;
}
.edit-save {
  display: flex;
  flex-direction: column;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
.save-button {
  width: 1rem;

  width: fit-content;
  padding: 0.1rem;
  border-radius: 0.5rem;
  background-color: paleturquoise;
}
.add-new-list {
  display: flex;
  gap: 0.5rem;
  /* border: 2px solid black; */
  width: 100%;
}
.checklist-page {
  /* border: 2px solid red; */
  position: absolute;
  /* right: 50%; */
  top: 20%;
  height: 30rem;
  width: 50%;
  right: 20rem;
  /* left: 50%; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: lightblue;
  color: white;
}
.viewBoard-conatiner {
  /* border: 2px solid rgb(38, 34, 82); */
}
.a {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.checklist-item {
  border: 1px solid red;
  display: flex;
  padding: 0.5rem;
  margin-top: 1rem;
}

.already-present-checklist {
  border-right: 2px solid rgb(67, 62, 62);
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.my-list1 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  width: fit-content;
}
.create-checkList {
  width: 50%;
}
.create-checkList1 {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  gap: 0.3rem;
}
.add-checklist-input {
  width: 100%;
}
.add-close-checklist {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.adding-new-check {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.add-items {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.add-items-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}
.close-icon:hover,
.delete-icon:hover,
.add-icon:hover,
.cancel-icon:hover {
  cursor: pointer;
  color: red;
}
.add-items-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  gap: 0.2rem;
  /* margin: 0.2rem; */
}
.popover {
  border: 2px solid red;
}
.archive:hover {
  cursor: pointer;
  color: darkorange;
}
